.openclipatar-ent, .openclipatar-ndownloads, .openclipatar-nfaves {
float:left;
}
.openclipatar-ent {
height:20em;
overflow: hidden;
padding: 5px;
}
.openclipatar-img {
width:220px;
}
.openclipatar-header {
margin-top:1em;
}
.openclipatar-end {
clear:both;
}
