#settings_jappixmini_expanded > label {
	clear: both;
	float: left;
	width: 200px;
	margin-bottom: 15px;
}

#settings_jappixmini_expanded > input[type="text"], 
#settings_jappixmini_expanded > input[type="password"],
#settings_jappixmini_expanded > input[type="checkbox"] {
	float: left;
}

#settings_jappixmini_expanded > input[type="text"], 
#settings_jappixmini_expanded > input[type="password"] {
	width: 200px;
}



