/* irc css */
#irc-auto-label, #irc-pop-label{
	float: left;
	width: 350px;
	margin-top: 10px;
}

#irc-autochans, #irc-sitechats {
	float: left;
	margin-top: 10px;
}

#irc-submit, #settings-irc-wrapper {
	margin-top: 15px;
}
